
@{
    Layout = "_Layout";
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">AboutUs</li>
        </ol>
    </nav>

}

<h1>Welcome to About Us Page..!!</h1>
