body {
  
}
.container {
    background-color: lightblue;
}
.logo{
    width:5rem;
    height:5rem;
}
.footer {
    position: static;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 5px;
}
