<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:sungitmca@gmail.com">sungitmca@gmail.com</a>*@
        <custom-email my-email="sungitmca@gmail.com"></custom-email>
    </div>
</footer>
