<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store Website </title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <div>
        <p>This is the common code for  all Views.</p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
