@model IEnumerable<BookModel>
<!--OR-->
@*@model IEnumerable<WebGentle_BookStore.Models.BookModel>*@
@{
    //Layout = "_Layout";
    ViewData["Title"] = "All Books";
}

<div class="container">
    <h1>All Books List</h1>
    <div class="row">
        @foreach (var book in Model)
        {
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="@book" />
            
        </div>
        }

    </div>
</div>

